.body{
    margin-top: 50px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px - 50px);
}
.warning{
    padding-top: 100px; 
    padding-left: 30px;
    min-height: calc(100vh - 70px - 80px);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #828282;
    gap: 50px;
}
.withoutComm{
    padding-top: 50px; 
    padding-left: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #828282;
    gap: 50px;
}
.img{
    height: 70px;
    opacity: 0.5;
}
.title{
    color: black;
    font-weight: 500;
    font-size: 40px;
    padding-top: 100px;
    width: 80%;
}
a{
    text-decoration: none;
    color: #828282;
    font-size: 14px;
}
.info{
    display: flex;
    gap: 30px;
    align-items: center;
}
.autor{
    display: flex;
    gap: 10px;
}
.by{
    font-style: italic;
}
.comments{
    display: flex;
    gap: 10px;
    align-items: center;
}

