.list{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #f6f6ef;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    flex-direction:row
}
/* .line{
    all: unset;
    height: 1px;
    background-color: #ff6600;
} */